4@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>Celestial</b></p>
    <p>Stars <a href="Stars">CLICK</a>.</p>
    <p>Planets <a href="Planets">CLICK</a>.</p>
    <p>MoonPlanet<a href="BufferZones">CLICK</a>.</p>
    <p>Moons<a href="Moons">CLICK</a>.</p>
</div>